@import "tailwindcss";

:root {
  color-scheme: dark;
  
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #09090b;
  color: white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

button, input, select, textarea {
  font-family: inherit;
  outline: none;
}